.title-thanhtoan {
    float: left;
    text-align: left;
    margin-right: 1rem;
    width: 40%;
}
.info-thanhtoan {
    float: left;
    text-align: left;
    width: 60%;
}
.button-thanhtoan {
    display: grid;
}
.info input {
    border: 1px solid #c9c9c9;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
}
